body
{
    text-align: center;
    background-image: url("./giphy.gif");
    /* background-image: url("./animated-forest-gif-6.gif"); */
    background-size: cover;
}
h1
{
    color: rgb(205, 207, 40);
}
.cell
{
    display: inline-flex;
    width: 2.5%;
    height: 40px;
}
.wall
{
    background-image: url("./tree_EDIT.png");
    background-size: cover;
}
.floor
{
    background-image: url("https://media.giphy.com/media/tNbLf5OqFmTHq/giphy.gif");
    background-size: cover;
}
.night
{
    background-image: url("https://media.giphy.com/media/tNbLf5OqFmTHq/giphy.gif");
    background-size: cover;
}
.player
{
    width: 100%;
    height: 40px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZgoIaGBov_lKXx1gTHhfHFgJucuiNlEEKXzX9Rkb9az-vGMaTxw");
    background-size: cover;
}
.start
{
    border: 1px solid black;
    background-color: rgb(73, 15, 85);
}
.exit
{
    background-image: url("http://www.cs.cmu.edu/afs/cs.cmu.edu/project/anim-2/tex/wood/Wood15l.jpg");
    background-size: cover;
    border: 1px solid black;
}
.winner
{
    display: inline-block;
    margin-bottom: 10px;
    background-image: url("https://www.tynker.com/projects/images/5c7c95e4b7ccdd201565d21d/background-scene---youwin.png");
    height: 250px;
    width: 450px;
    background-size: cover;
    

}